<mat-toolbar color="primary" class="nav">
  <mat-toolbar-row class="nav-row">
    <button mat-button [routerLink]="['./']" layout-align="end center" class="nav-link nav-logo">
      <span class="nav-logo-text">PRFL</span>
    </button>
    <button mat-button [routerLink]="['./projects']" class="nav-link">PROJECTS</button>
    <button mat-button [routerLink]="['./about']" class="nav-link">ABOUT</button>
    <button mat-button [routerLink]="['./resume']" class="nav-link">RESUME</button>
    <button mat-button [routerLink]="['./contact']" class="nav-link">CONTACT</button>
    <!-- <span class="nav-spacer"></span> -->
    <!-- <app-login style="height: 100%;"></app-login> -->
    <!-- <button mat-button class="nav-link nav-login">LOG-IN / SIGN-UP</button> -->
  </mat-toolbar-row>
</mat-toolbar>
