<div class="projects-wrapper">
  <div class="projects-content contanier-fluid">
    <div class="row">
      <h1 class="projects-title col-12">PROJECTS</h1>
    </div>

    <!-- <div class="d-flex flex-row flex-nowrap"> -->
    <div class="row">
      <!-- <div class="col-12 mx-auto my-5"> -->

        <!--Card-->
        <!-- <div class="proj"> -->
        <div class="proj col-xl-3 col-md-6 col-sm-6 col-xs-12">
          <mdb-card dark="true">

            <!--Card image-->
            <div class="pic view overlay waves-light" mdbWavesEffect>
              <div class="pic-wrapper">
                <mdb-card-img src="./assets/images/lambos.jpg"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>
      
            <!--Card content-->
            <mdb-card-body class="elegant-color white-text">
              <!-- <a class="activator px-3 mr-2">
                <i class="fa fa-share-alt white-text"></i>
              </a> -->
      
              <mdb-card-title>
                <h4>Project 1</h4>
              </mdb-card-title>
      
              <hr class="hr-light">
      
              <!--Text-->
              <mdb-card-text class="white-text">
                This is some good lookin placeholder text my guy
              </mdb-card-text>
      
              <a href="#!" class="white-text d-flex justify-content-end">
                <h5 class="waves-light white-text" mdbWavesEffect>Read more
                  <span>
                    <i class="fa fa-chevron-right pl-2 waves-light" mdbWavesEffect></i>
                  </span>
                </h5>
              </a>
            </mdb-card-body>
            <!--/.Card content-->
          </mdb-card>
        </div>
        <!--/.Card-->

        <!--Card-->
        <!-- <div class="proj"> -->
        <div class="proj col-xl-3 col-md-6 col-sm-6 col-xs-12">
          <mdb-card dark="true">

            <!--Card image-->
            <div class="pic view overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="./assets/images/d.va.jpg"></mdb-card-img>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!--Card content-->
            <mdb-card-body class="elegant-color white-text">
              <a class="activator px-3 mr-2">
                <i class="fa fa-share-alt white-text"></i>
              </a>
      
              <!--Title-->
              <mdb-card-title>
                <h4>Card title</h4>
              </mdb-card-title>
      
              <hr class="hr-light">
      
              <!--Text-->
              <mdb-card-text class="white-text">
                This is some good lookin placeholder text my dude
              </mdb-card-text>
      
              <a href="#!" class="white-text d-flex justify-content-end">
                <h5 class="waves-light white-text" mdbWavesEffect>Read more
                  <span>
                    <i class="fa fa-chevron-right pl-2 waves-light" mdbWavesEffect></i>
                  </span>
                </h5>
              </a>
            </mdb-card-body>
            <!--/.Card content-->
          </mdb-card>
        </div>
        <!--/.Card-->

        <!--Card-->
        <!-- <div class="proj"> -->
        <div class="proj col-xl-3 col-md-6 col-sm-6 col-xs-12">
          <mdb-card dark="true">

            <!--Card image-->
            <div class="view overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="./assets/images/under_construction.jpg"></mdb-card-img>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!--Card content-->
            <mdb-card-body class="elegant-color white-text">
              <a class="activator px-3 mr-2">
                <i class="fa fa-share-alt white-text"></i>
              </a>
      
              <!--Title-->
              <mdb-card-title>
                <h4>Card title</h4>
              </mdb-card-title>
      
              <hr class="hr-light">
      
              <!--Text-->
              <mdb-card-text class="white-text">
                This is some good lookin placeholder text bois
              </mdb-card-text>
      
              <a href="#!" class="white-text d-flex justify-content-end">
                <h5 class="waves-light white-text" mdbWavesEffect>Read more
                  <span>
                    <i class="fa fa-chevron-right pl-2 waves-light" mdbWavesEffect></i>
                  </span>
                </h5>
              </a>
            </mdb-card-body>
            <!--/.Card content-->
          </mdb-card>
        </div>
        <!--/.Card-->

        <!--Card-->
        <!-- <div class="proj"> -->
        <div class="proj col-xl-3 col-md-6 col-sm-6 col-xs-12">
          <mdb-card dark="true">

            <!--Card image-->
            <div class="view overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="./assets/images/illuminati.jpg"></mdb-card-img>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!--Card content-->
            <mdb-card-body class="elegant-color white-text">
              <a class="activator px-3 mr-2">
                <i class="fa fa-share-alt white-text"></i>
              </a>
      
              <!--Title-->
              <mdb-card-title>
                <h4>Card title</h4>
              </mdb-card-title>
      
              <hr class="hr-light">
      
              <!--Text-->
              <mdb-card-text class="white-text">
                This is some good lookin placeholder text fam
              </mdb-card-text>
      
              <a href="#!" class="white-text d-flex justify-content-end">
                <h5 class="waves-light white-text" mdbWavesEffect>Read more
                  <span>
                    <i class="fa fa-chevron-right pl-2 waves-light" mdbWavesEffect></i>
                  </span>
                </h5>
              </a>
            </mdb-card-body>
            <!--/.Card content-->
          </mdb-card>
        </div>
        <!--/.Card-->
    </div>


    <!--
    <div class="row">
      <div class="project-item w-100 h-100 col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h5>Project 1</h5>
            </mdb-card-title>
            <mdb-card-text>This is some good lookin placeholder text my guy</mdb-card-text>
            <a href="#!" mdbBtn color="primary">Link 1</a>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="project-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h5>Project 2</h5>
            </mdb-card-title>
            <mdb-card-text>This is some good lookin placeholder text my dude</mdb-card-text>
            <a href="#!" mdbBtn color="primary">Link 2</a>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="project-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h5>Project 3</h5>
            </mdb-card-title>
            <mdb-card-text>This is some good lookin placeholder text my son</mdb-card-text>
            <a href="#!" mdbBtn color="primary">Link 3</a>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="project-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h5>Project 4</h5>
            </mdb-card-title>
            <mdb-card-text>This is some good lookin placeholder text fam</mdb-card-text>
            <a href="#!" mdbBtn color="primary">Link 4</a>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
    -->

  </div>
</div>
